ul {
    padding-left: 0px ;
  }

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h4 {
    text-align:center;
}

h5 {
    text-align:center;
}

address {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

hr.style1 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f000, #ffffff, #f0f0f000);
}

hr.style2 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f000, #ffffff45, #f0f0f000);
}

#head_project {
    text-align: left;
    font-size: 20px;
}

kbd {
    background-color: rgba(143, 143, 143, 0.275)!important;
    color: #ffffff;
    font-size: 15px;
    padding: 3px!important;
}

/* [data-testid="stSidebar"] {
    background-color: #3c3c3c !important;
    visibility: visible;
    width: 300px!important;
} */
a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover {
    color: #ef971d !important;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
  }

.css-14j4oeh.e1fqkh3o6 {
    font-size: 20px;
}

#test {
    color: #ffffff00;
}